
.heroDiv {
    padding: 0 2rem;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contactDiv {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
}

.h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    text-align: left;
    color: rgb(116, 116, 116);
}

.h1 > span {
    color: white;
}

.h2 {
    font-size: 2rem;
    font-weight: 200;
    text-align: left;
}

.content {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    /* background-color: red; */
    font-size: 2rem;
    margin-top: auto;
    height: 90%;
}

.textHolder {
    /* background-color: blue; */
    height: 80%;
    width: 50%;
}

.imageHolder {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
    
}

.imageHolder > img {
    /* background-color: rgb(110, 44, 44); */
    width: 15rem;
    height: 20rem;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
}

.contactHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 2rem 0;
    
    
}

.socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    margin-right: 1rem;
    
}

.contactHolder > div > a > img {
    /* filter: invert() brightness(.9); */
    width: 60px;
}

.contactHolder > div > a::after {
    width: 0;
}

.contactHolder > div > a:hover {
    color: white;
}

@media screen and (max-width: 768px) {
    .h1 {
        font-size: 2.5rem;
    }
    .heroDiv {
        padding-top: 5rem;
        height: auto;
        flex-direction: column;
    }

    .imageHolder {
        height: 20rem;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 1rem 1rem;
    }

    .imageHolder > img:nth-child(1) {
        width: 10rem;
        height: 15rem;
        border: 1px solid;
        border-radius: 15px;
        position: absolute;
        top: 20%;
        overflow: hidden;
        z-index: 2;
    }

    .imageHolder > img:nth-child(2) {
        width: 10rem;
        height: 15rem;
        border: 1px solid;
        border-radius: 15px;
        position: absolute;
        left: 0;
        top: 40%;
        overflow: hidden;
    }

    .imageHolder > img:nth-child(3) {
        width: 10rem;
        height: 15rem;
        border: 1px solid;
        border-radius: 15px;
        position: absolute;
        right: -20px;
        top: 0;
        z-index: 3;
        overflow: hidden;
    }

    .textHolder {
        height: 80%;
        width: auto;
    }

    .content {
        padding: 0 2rem;
        display: block;
        font-size: 1rem;
        margin-top: auto;
        height: 90%;
    }

    .socialContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0 1rem;
        margin-right: 1rem;
    }

    .content {
        margin-bottom: 2rem;
    }

    .contactDiv {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 320px) {
    .imageHolder {
        height: 20rem;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 1rem 1rem;
    }

    .content {
        padding: 0;
    }

    .imageHolder > img:nth-child(1) {
        width: 10rem;
        height: 15rem;
        border: 1px solid;
        border-radius: 15px;
        position: absolute;
        top: 20%;
        overflow: hidden;
        z-index: 2;
    }

    .imageHolder > img:nth-child(2) {
        width: 10rem;
        height: 15rem;
        border: 1px solid;
        border-radius: 15px;
        position: absolute;
        left: -27px;
        top: 40%;
        overflow: hidden;
    }

    .imageHolder > img:nth-child(3) {
        width: 10rem;
        height: 15rem;
        border: 1px solid;
        border-radius: 15px;
        position: absolute;
        left: 1;
        top: 0;
        z-index: 3;
        overflow: hidden;
    }

    .contactHolder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }

    .socialContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0 1rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .contactHolder > div > a > img {
        /* filter: invert() brightness(.9); */
        width: 30px;
    }
}