
.home {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    color: rgb(116, 116, 116);
}

.home > span {
    color: white;
}

.mainDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.arrowDown {
    font-size: 5rem;
    position: absolute;
    bottom: 10%;
    filter: invert();   
    animation: upDown 1s ease-in-out 0s infinite forwards;
}

@keyframes upDown {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10%);
    }
}

.projects, .skillSet {
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-top: 10rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.imageContainer {
    text-align: center;
}

.imageContainer > img {
    width: 150px;
}

.h2 {
    font-size: 2.5rem;
    font-weight: 200;
}

.h2 > span {
    font-weight: 500;
}

.h3 {
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: 200;
}

.h3 > span {
    font-weight: 500;
}

.card {
    max-width: 1440px;
    display: flex;
    align-items: end;
    margin: 5rem auto;
    gap: 0 3rem;
    
}

.card:nth-child(odd) {
    max-width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    margin: 1rem auto;
    gap: 0 1rem;
}

.imageHolder {
    background-image: url('../../assets/intalio-estates.JPG');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 10%;
    height: 500px;
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
}

.imageHolder_2 {
    background-image: url('../../assets/jacinta-enclaves.JPG');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
}

.imageHolder_3 {
    background-image: url('../../assets/weecommcentre.JPG');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 10%;
    height: 500px;
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
}

.imageHolder_4 {
    background-image: url('../../assets/jrcc.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 10%;
    height: 500px;
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
}

.imageHolder_5 {
    background-image: url('../../assets/sarisariStore.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 10%;
    height: 500px;
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
}

.textHolder {
    font-size: 2rem;
    width: 50%;
}

.title {
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 3rem;
}

.homeBtn {
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: .8rem;
    border: 1px solid white;
    background-color: transparent;
    letter-spacing: .3rem;
    cursor: pointer;
    width: auto;
    position: relative;
    transition: background-image ease-in-out .3s;
}

.homeBtn > a {
    width: 100%;
    font-size: inherit;
}

.arrow {
    margin-left: 0;
    transition: margin-left .3s ease-in-out;
}

.homeBtn:hover > .arrow {
    margin-left: 1rem;
}

.homeBtn > a:hover {
    color: white;
}

.homeBtn > a:hover::after {
    width: 0;
}



@media screen and (max-width: 768px) {
    .imageContainer {
        padding: 0 0rem;
    }

    .card, .card:nth-child(odd) {
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
        gap: 2rem 0;
    }

    .imageHolder, .imageHolder_2, .imageHolder_3, .imageHolder_4, .imageHolder_5 {
        width: 100%;
    }

    .textHolder {
        width: 100%;
    }
}

